{
	"ignore": [
		"node_modules/**"
	],
	"plugins": [
		"transform-runtime",
		"external-helpers",
	 	"syntax-async-functions",
	    ["transform-regenerator", {
	    	"asyncGenerators": false,
	    	"generators": false,
	    	"async": true
		}]
	],
  	"env": {
  		"development": {
  			"presets": [
				["env", {
					"modules": false,
		      		"targets": {
		        		"browsers": [">1%", "ie 11", "not op_mini all"]
		     	 	}
		    	}]
		    ]
  		},
		"test": {
	      	"presets": [
	      		["env", {
	      			"targets": {
	      				"node": "current"
	      			}
	      		}]
	      	]
	    }
	}
}