tmp/
node_modules
functions/node_modules

*.suo
*.user
*.swp
*.vspscc
*.vssscc
*.bak
*.[Cc]ache
*.orig
*.patch

Thumbs.db
.DS_Store
~$*

/public
/patternlab
.firebaserc
firebase-debug.log

*.sublime-project
*.sublime-workspace
