{{# siteHeader }}
<header role="banner" class="site-header page-width">
	<img src="../../images/deg-logo.svg" alt="DEG logo" class="logo" />
	{{# showGameHashtag }}
		<div class="game-hashtag">{{gameHashtag}}</div>
	{{/ showGameHashtag }}
</header>
{{/ siteHeader}}