{{# siteHeader }}
<header role="banner" class="site-header page-width">
	<img src="../../images/deg-logo.svg" alt="DEG logo" class="logo" />
	{{# showEventHashtag }}
		{{> basics-event-hashtag }}
	{{/ showEventHashtag }}
</header>
{{/ siteHeader}}