{{# registrationForm }}
<form class="">
	{{# isFormInvalid }}
		{{> components-form-error-message }}
	{{/ isFormInvalid }}
	{{# firstName }}
		{{> components-field }}
	{{/ firstName }}

	{{# lastName }}
		{{> components-field }}
	{{/ lastName }}

	{{# company }}
		{{> components-field }}
	{{/ company }}

	{{# emailAddress }}
		{{> components-field }}
	{{/ emailAddress }}

	{{# phone }}
		{{> components-field }}
	{{/ phone }}

	{{# eventCode }}
		{{> components-field }}
	{{/ eventCode }}	

	<div class="button-group button-group--centered">
		<button class="button button--large" type="submit">Let's Play</button>
	</div>

	<p class="disclosure">By filling out this form, you are opting in to receiving notifications regarding Connections trivia via email and SMS, as well as general follow-up communications from the agency. Learn more about <a href="https://www.degdigital.com/deg-full-service-digital-agency/privacy-policy/" target="_blank">DEG’s privacy policy</a>.</p>

</form>
{{/ registrationForm }}