{{# registrationForm }}
<form class="">
	{{# firstName }}
		{{> components-field }}
	{{/ firstName }}

	{{# lastName }}
		{{> components-field }}
	{{/ lastName }}

	{{# company }}
		{{> components-field }}
	{{/ company }}

	{{# emailAddress }}
		{{> components-field }}
	{{/ emailAddress }}

	{{# phone }}
		{{> components-field }}
	{{/ phone }}

	{{# eventCode }}
		{{> components-field }}
	{{/ eventCode }}	

	<div class="button-group button-group--centered">
		<button class="button button--large" type="submit">Submit</button>
	</div>
</form>
{{/ registrationForm }}