{{# registrationForm }}
<form class="">
	{{# firstName }}
		{{> components-field }}
	{{/ firstName }}

	{{# lastName }}
		{{> components-field }}
	{{/ lastName }}

	{{# emailAddress }}
		{{> components-field }}
	{{/ emailAddress }}

	{{# eventCode }}
		{{> components-field }}
	{{/ eventCode }}	

	<button class="button" type="submit">Submit</button>
</form>
{{/ registrationForm }}