<div class="background__video-wrap">
    <video class="background__video" 
        autoplay 
        loop 
        muted
        playsinline
        preload="auto" 
        poster="../../images/App-Hex-Ani-Congratulations.jpg"
        type="video/mp4"
    >
        <source src="../../images/App-Hex-Ani-375.mp4" type="video/mp4">
    </video>
</div>