:root {

	--color-black: #000;
	--color-white: #fff;

	--color-gray: #999;
	--color-gray-light-40: #d5dadd;
	--color-gray-dark-20: #7c868d;
	--color-gray-dark-60: #383838;

	--color-blue: #0080c7;
	--color-blue-light-10: #38acd3;
	--color-blue-dark-10: #006095;
	

	--color-green: #c3d600;
	--color-green-dark-10: color(var(--color-green) shade(10%));
	--color-green-dark-20: color(var(--color-green) shade(20%));
	  
	--color-text: var(--color-white);

	--font-family-primary: 'Open Sans', sans-serif;
	--base-font-size: 1em;

	--width-page: 25rem;

	--spacing-vertical: 1.5em;

	--border-radius: 0.25rem;

	--anim-duration: 0.5s;
	--anim-easing: ease-in-out;

}