.choice-button {
	display: block;
	max-width: 25em;
	text-align: left;
	background-color: var(--color-gray-light-40);

	&:hover, &:focus {
		background-color: var(--color-white);
	}

	&:active {
		background-color: var(--color-green);
	}
}

.choice-button--disabled {
	cursor: default;
	background-color: var(--color-blue);

	&:hover, &:focus, &:active {
		background-color: var(--color-blue);
	}
}

.choice-button--selected {
	background-color: var(--color-gray-light-40);
	
	&:hover, &:focus, &:active {
		background-color: var(--color-gray-light-40);
	}
}