{{> components-site-header}}
<main class="main tv-screen page-width page-width--wide">
	<h1 class="page-title page-title--centered">{{title}} Leaderboard</h1>
    <div class="columns columns--two">
        <div class="column">
            {{> basics-table}}
        </div>
        <div class="column">
            {{> basics-table}}
        </div>
    </div>
</main>