<main class="main page-width">
    {{> components-background-video}}
    <div class="game-begin__content">
        <div class="game-begin-heading">
            <img src="../../images/deg-logo.svg" alt="DEG logo" class="logo" />
            <h1 class="page-title page-title--centered">Let's Play!</h1>
            <p class="hashtag text--centered">#CNXTRIVIA</p>
        </div>
        <p class="subheading text--centered">Answer all six questions (not stopping for wrong answers) as fast as you can. 10 seconds per question. Speed and accuracy wins. Here comes the first question.</p>
    </div>
</main>