<main class="main tv-screen">
     <div class="columns columns--two">
        <div class="column column--centered">
            <img src="../../images/deg-logo.svg" class="tv-screen__logo" alt="DEG logo" />
            <div class="tv-screen__copy">Let us help you market to the moment.</div>
        </div>
        <div class="column column--centered">
            <h1 class="next-game__title">
                <div class="next-game__title-intro next-game__title-intro--lg">Next Game</div>
                <time datetime="2018-07-18T12:30:00.000" class="next-game__time">
                    12:30PM PST
                </time>
            </h1>
            <div class="tv-screen__copy">Join online at <span class="text--emphasis">cnxtrivia.com</span></div>
            <div class="event-hashtag">{{> basics-event-hashtag}}</div>
        </div>
    </div>
</main>