<main class="main tv-screen">
     <div class="tv-screen__content tv-screen__content--centered">
        <img src="../../images/deg-logo.svg" class="tv-screen__logo" alt="DEG logo" />
        <h1 class="next-game__title">
            <div class="next-game__title-intro next-game__title-intro--lg">Next Game</div>
            <time datetime="2018-07-18T12:30:00.000" class="next-game__time">
                June 1 @ 12:30PM
            </time>
        </h1>
        <div class="tv-screen__copy">Join online at <span class="text--emphasis">cnxtrivia.com</span></div>
        <div class="event-hashtag">{{> basics-event-hashtag}}</div>
    </div>
</main>