<header class="question-header">
	<p class="question__count">Question 3 of 6</p>
	{{# showCountdown }}
		{{> components-countdown:question__countdown }}
	{{/ showCountdown }}
	{{# showStatus }}
		{{> components-question-status }}
	{{/ showStatus }}
	<h1 class="question__text">{{text}}</h1>
</header>