{{# manageGameplayContent}}
<div >
    {{# eventInput}}
        {{> components-select-menu-field}}
    {{/ eventInput}}

    {{# gameInput}}
        {{> components-select-menu-field}}
    {{/ gameInput}}

    {{# questionInput}}
        {{> components-select-menu-field}}
    {{/ questionInput}}
	<button class="button button--orange-inverse">Host is talking</button>
	<button class="button  button--orange-inverse">End Game</button>
</div>
{{/manageGameplayContent}}
