h1 {
	font-size: 2.5em;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.75em;
	margin-bottom: .5em;
}

h3 {
	font-size: 1.375em;
	margin-bottom: .5em;
}

h4 {
	font-size: 1.25em;
	margin-bottom: .375em;
}

h5 {
	font-size: 1.125em;
	font-weight: bold;
	margin-bottom: .25em;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
	text-transform: uppercase;
}

.page-title--small {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: .75em;
}