.input {
	font-size: 1em;
	background-color: transparent;
	color: var(--color-white);
	border-width: 0 0 .3125em 0;
	border-style: solid;
	border-color: color(var(--color-gray-light-40) a(46%));
	padding: .375em .125em;
	margin: 0;
	width: 100%;
	max-width: 25em;
	font-family: var(--font-family-primary);
	transition: border-color var(--anim-duration-fast) var(--anim-easing);

	&:focus {
		border-color: var(--color-white);
		outline: 0;
	}
}

.input--invalid {
	border-color: var(--color-error);
}

::-webkit-input-placeholder { 
  	color: var(--color-gray-light-30);
}
::-moz-placeholder {
	color: var(--color-gray-light-30);
}
:-ms-input-placeholder {
 	color: var(--color-gray-light-30);
}
:-moz-placeholder { 
 	color: var(--color-gray-light-30);
}

.input--radio,
.input--checkbox {
	cursor: pointer;
	position: relative;

	&:before {
		background: var(--color-white);
		content: '';
		display: inline-block;
		height: 1.25em;
		width: 1.25em;
	}

	&:hover {
		background: var(--color-green);
	}

	&:checked&:before{
		background: var(--color-green);
	}

	&:checked&:after {
		background: var(--color-black);
		box-shadow:
			.125em 0 0 var(--color-black),
			.25em 0 0 var(--color-black),
			.25em -.125em 0 var(--color-black),
			.25em -.25em 0 var(--color-black),
			.25em -.375em 0 var(--color-black),
			.25em -.5em 0 var(--color-black);
		content: '';
		display: inline-block;
		height: .25em;
		left: .25em;
		position: absolute;
		transform: rotate(45deg);
		top: .5em;
		width: .25em;	
	}

	&.input--centered {
		margin-left: 45%;
	}
}