.input {
	font-size: 1em;
	background-color: transparent;
	color: var(--color-white);
	border-width: 0 0 .25em 0;
	border-style: solid;
	border-color: color(var(--color-teal) a(50%));
	padding: .375em .125em;
	width: 100%;
	max-width: 25em;
	font-family: var(--font-family-primary);
	transition: border-color var(--anim-duration-fast) var(--anim-easing);

	&:focus {
		border-color: var(--color-white);
		outline: 0;
	}
}

.input--invalid {
	border-color: var(--color-error);
}