body {
	color: var(--color-text);
	font-family: var(--font-family-primary);
	font-size: var(--base-font-size);
	font-weight: 400;
	line-height: 1.4375;
}

p {
	margin: 0 0 var(--spacing-vertical) 0;
}

.text--centered {
	text-align: center;
}

.event-hashtag {
	color: var(--color-teal-light-20);
	font-weight: 500;
	font-size: 1.0625em;
	letter-spacing: var(--letter-spacing-wide);
}