{{> components-admin-header }}
<main class="main">
    <div>
        {{> components-admin-tabs}}
        <div class="tab-content">
            {{> components-manage-gameplay}}
        </div>
    </div>
</main>