.site-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: .5em 0;
	width: 100%;

	&.is-hidden {
		display: none;
	}
}

.logo {
	height: 2.3125em;
    width: 4em;
}