.site-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1.5em;
	width: 100%;
}

.logo {
	height: 2.3125em;
    width: 4em;
}

.event-hashtag {
	color: var(--color-teal-light-20);
	font-weight: 500;
	font-size: 1.0625em;
	letter-spacing: var(--letter-spacing-wide);
}