{{# formErrorMessage }}
<p class="form-error-message {{styleModifier}}">
	<span class="icon icon--error form-error-message__icon"></span>
	<span class="form-error-message__text">{{text}}</span>
</p>
{{/ formErrorMessage }}