.columns {
    clear: both;
    display: flex;
    flex-direction: column;
}

.column {
    margin-bottom: 1.5em;
}


@media screen and (min-width: 48em) {
    .columns {
        flex-direction: row;
    }

    .column--centered {
        text-align: center;
    }

    .columns--two {
        .column {
            margin-left: 2em;
            margin-right: 2em;
            width: calc(50% - .5em);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width: 64em) {
    .columns--two {
        .column {
            margin-left: 4em;
            margin-right: 4em;
            width: calc(50% - 1em);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
