body {
	background: linear-gradient(to bottom, var(--color-blue-light-10) 0%, var(--color-blue-dark-10) 100%);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-width {
	max-width: var(--width-page);
	margin: 0 auto;
}

.page-width--wide {
	max-width: 80em;
}

.main {
	padding: 0 1.5em 1em 1.5em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
}